{
  "name": "{{ agave.username }}-{{ app.name }}-test-{{ date_time.iso8601_basic_short }}",
  "appId": "{{ agave.username }}-{{ app.name }}",
  "archive": false,
  "inputs": {
    "read1":  "agave://data-sd2e-community/sample/rnaseq-broad/test/4342744_rrna_free_reads_unmerged_R1.40k.fastq",
    "read2": "agave://data-sd2e-community/sample/rnaseq-broad/test/4342744_rrna_free_reads_unmerged_R2.40k.fastq",
    "fasta": "agave://data-sd2e-community/archive/shared-q0-hackathon/yeast-gates/W303_gff_references/yeastgate_references/circuit1.fa",
    "gff": "agave://data-sd2e-community/archive/shared-q0-hackathon/yeast-gates/W303_gff_references/yeastgate_references/circuit1.gff",
    "bed": "agave://data-sd2e-community/archive/shared-q0-hackathon/yeast-gates/W303_gff_references/yeastgate_references/circuit1.bed"
  },
  "parameters": {
    "stranded": "yes"
  }
}
